@font-face {
  font-family: "Roboto";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/webfonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/webfonts/Roboto-Bold.woff2") format("woff2");
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--imColBlack);
  background-color: var(--imColWhite);
  height: 100%;
  margin: 0;
}

strong {
  font-family: 'Roboto Bold', sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main,
.container  {
  height: 100%;
}

.container {
  max-width: 1600px;
  margin-inline: auto;
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imRadioLabel {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}