// Buttons and Components

.componentBtn {
  cursor: pointer;
  background-color: var(--imColBlack40);

  &.inactive,
  &.hidden {
    display: none;
  }
}

.componentItemWrapper {
  background-color: var(--imColSecondary);
}

.componentItemHeaderName {
  color: var(--imColWhite);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icon-grabber {
  width: 30px;
  height: 30px;
  fill: var(--imColWhite);
  transition: fill 150ms ease-in-out, transform 150ms ease-in-out;

  &:hover {
    background-color: var(--imColSecondary);
    transform: scale(1.15);
  }
}

.componentBtn,
.componentItemWrapper {
  font-size: 14px;
  @include propertiesTransitionable;
}

.componentBtn.fading-out,
.componentItemWrapper.fading-out{
  @include propertiesTransitionEnd;
}

.componentBtn,
.componentItemWrapper {
  color: var(--imColWhite);
  border: 0;
  border-radius: var(--imThemeBorderRadiusSm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.componentItemTriggersWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-trigger {
  font-size: 20px;
  color: var(--imColWhite);
  background-color: var(--imColBlack);
  border-radius: 80px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 150ms ease-in-out, transform 150ms ease-in-out;

  .componentBtn:hover & {
    background-color: var( --imColSecondary);
    transform: scale(1.15);
  }
}

.icon-delete:hover {
  transform: scale(1.15);
}

.btn-info-wrapper {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 150ms ease-in-out;

  &:hover {
    transform: scale(1.15);
  }
}

.icon-info {
  background-color: var(--imColBlack);
  fill: var(--imColWhite);
}

