
.icon-svg {
  width: 24px;
  height: 24px;
}

.icon-aside-component-add {
  color: var(--imColBlack60);
  fill: var(--imColWhite);
}

.icon-aside-copy-config,
.icon-aside-clear-all {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.icon-component-grabber {
  width: 18px;
  height: 18px;
  fill: var(--imColWhite);
  opacity: 0.7;
  flex-shrink: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.icon-component-trigger {
  width: 24px;
  height: 24px;
  //background-color: var(--imColBlack60);
  fill: var(--imColWhite);

  &:hover {
    background-color: var(--imColRed);
  }
}
