// Component Items

.lb-component-item-wrapper {
  font-size: var(--imfListRowTextsize, 13px);
  font-family: var(--imfListRowTextFontStack, var(--imPrimaryFontStack));
  line-height: var(--imfListRowTextlineheight, 1.1);
  color: var(--imColTextPrimary, var(--imColWhite));
  background-color: var(--imfListRowBgCol, var(--imColBlack40));
  box-shadow: var(--imLbShadowSm);
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
  border: 0;
  border-radius: var(--imThemeBorderRadiusSm);
  width: 100%;
  min-height: 0;
  transition:
    opacity var(--fadeTransitionDuration) ease,
    height var(--fadeTransitionDuration) ease,
    margin var(--fadeTransitionDuration) ease,
    all 150ms ease-in-out;

  &:hover {
    box-shadow: var(--imLbShadowMd);
  }

  &:last-child {
    margin: 0;
  }

  &.fading-out {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
}

.lb-component-item-header-name {
  font-family: var(--imfListRowTextFontStack, var(--imPrimaryFontStack));
  font-size: var(--imfListRowTextsize, 12px);
  color: var(--imColTextPrimary, var(--imColWhite));
  cursor: grab;
  display: flex;
  align-items: center;
  gap: 6px;
  user-select: none;
  width: 100%;
  padding-block: var(--imGapSmall); // increase target area for dragging
  padding-inline: var(--imGapTiny) ;
  border-bottom: 1px solid var(--imColBlack20);
  transition: background-color 150ms ease-in-out;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    background-color: var(--imfListRowContrastBgCol, var(--imColBlack50));
  }
}

.lb-component-triggers-wrapper {
  display: flex;
  align-items: center;
  gap: var(--imGapTiny);
  flex-wrap: wrap;
  width: 100%;
  padding-block: var(--imGapTiny);
  padding-inline: var(--imGapTiny) ;
}

.lb-component-trigger-btns-wrapper {
  display: flex;
  align-items: center;
  gap: var(--imGapTiny);
  margin-left: auto;
}

.lb-component-visibility-select {
  font-size: 11px;
  cursor: pointer;
  padding: 3px 6px;
  border: 1px solid var(--imfListRowBorderCol, var(--imColBlack60));
  border-radius: var(--imThemeBorderRadiusSm);
  min-width: 0;
  width: max-content;
  transition: border-color 150ms ease-in-out;

  &:hover {
    border-color: var(--imColSecondary);
  }

  &:focus {
    outline: none;
  }
}

// Visibility badges
.lb-component-visibility-badge {
  font-family: var(--imPrimaryFontStack);
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: var(--imGapTiny);
}

.lb-component-visibility-badge.visibility-badge-desktop {
  background-color: var(--imColBlueLt);
  color: var(--imColBlueDeep);
}

.lb-component-visibility-badge.visibility-badge-mobile {
  background-color: var(--imColLime5);
  color: var(--imColLimeDeep);
}
