// Structure

.layoutBuilderWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: start;
  height: 100%;

  &.drawer-open {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.componentBtnsAside,
.componentInfoAside {
  background-color: var(--imColBlack3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  position: sticky;
  top: 0;
  height: 100%;

  > * + * {
    margin-top: 10px;
  }

  &.hidden {
    display: none;
  }
}

.componentTabPane {
  width: 100%;
}

.columnsWrapper {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding: 15px;
  margin: 5px;

  &.drawer-open {
    grid-template-columns: 1fr;
  }
}

.column {
  border: $colBorderWidth solid var(--imColBlack20);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 118px;
  margin: $colMargin;
  opacity: 1;
  transition: opacity 150ms ease-in-out, border-color 150ms ease-in-out;

  &.active {
    border-color: var(--imColBlack50);
    z-index: 1;
    opacity: 1;
  }
}

.column1,
.column4 {
  grid-column: 1 / 3; // Span all columns
}

.closeDrawerBtn {
  cursor: pointer;
  color: var(--imColWhite);
  border: 0;
  background-color: var(--imColBlack);
  padding: 5px 12px;
  border-radius: var(--imThemeBorderRadiusSm);
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--imColSecondary);
  }
}

.componentInfoHeading {
  font-size: 16px;
  margin-block-end: 0;
}

.componentInfo {
  width: 100%;

  &.hidden {
    display: none;
  }
}

.componentInfoTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--imColWhite);
  border-radius: var(--imThemeBorderRadiusSm);
  border: 1px solid var(--imColBlack20);


  p {
    margin: 0;
  }
}