.componentsTabs {
  display: flex;
  gap: 1px;
  width: 100%;
}

.componentsTab {
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  color: var(--imColWhite);
  background-color: var(--imColBlack25);
  border-radius: 0;
  border: 0;
  transition: background-color 150ms ease;

  &:hover {
    cursor: pointer;
    background-color: var(--imColBlack35);
  }

  &.active {
    color: var(--imColWhite);
    background-color: var(--imColBlack);
  }

  &[data-tab="1"] {
    border-radius: 6px 0 0 6px;
  }

  &[data-tab="3"] {
    border-radius: 0 6px 6px 0;
  }
}