
@mixin imColTintsBlack($black) {
  --imColBlack: #{tone-lighten($black, 100)};
  --imColBlack100: #{tone-lighten($black, 100)};
  --imColBlack99: #{tone-lighten($black, 99)};
  --imColBlack98: #{tone-lighten($black, 98)};
  --imColBlack97: #{tone-lighten($black, 97)};
  --imColBlack96: #{tone-lighten($black, 96)};
  --imColBlack95: #{tone-lighten($black, 95)};
  --imColBlack94: #{tone-lighten($black, 94)};
  --imColBlack93: #{tone-lighten($black, 93)};
  --imColBlack92: #{tone-lighten($black, 92)};
  --imColBlack91: #{tone-lighten($black, 91)};
  --imColBlack90: #{tone-lighten($black, 90)};
  --imColBlack89: #{tone-lighten($black, 89)};
  --imColBlack88: #{tone-lighten($black, 88)};
  --imColBlack87: #{tone-lighten($black, 87)};
  --imColBlack86: #{tone-lighten($black, 86)};
  --imColBlack85: #{tone-lighten($black, 85)};
  --imColBlack84: #{tone-lighten($black, 84)};
  --imColBlack83: #{tone-lighten($black, 83)};
  --imColBlack82: #{tone-lighten($black, 82)};
  --imColBlack81: #{tone-lighten($black, 81)};
  --imColBlack80: #{tone-lighten($black, 80)};
  --imColBlack79: #{tone-lighten($black, 79)};
  --imColBlack78: #{tone-lighten($black, 78)};
  --imColBlack77: #{tone-lighten($black, 77)};
  --imColBlack76: #{tone-lighten($black, 76)};
  --imColBlack75: #{tone-lighten($black, 75)};
  --imColBlack74: #{tone-lighten($black, 74)};
  --imColBlack73: #{tone-lighten($black, 73)};
  --imColBlack72: #{tone-lighten($black, 72)};
  --imColBlack71: #{tone-lighten($black, 71)};
  --imColBlack70: #{tone-lighten($black, 70)};
  --imColBlack69: #{tone-lighten($black, 69)};
  --imColBlack68: #{tone-lighten($black, 68)};
  --imColBlack67: #{tone-lighten($black, 67)};
  --imColBlack66: #{tone-lighten($black, 66)};
  --imColBlack65: #{tone-lighten($black, 65)};
  --imColBlack64: #{tone-lighten($black, 64)};
  --imColBlack63: #{tone-lighten($black, 63)};
  --imColBlack62: #{tone-lighten($black, 62)};
  --imColBlack61: #{tone-lighten($black, 61)};
  --imColBlack60: #{tone-lighten($black, 60)};
  --imColBlack59: #{tone-lighten($black, 59)};
  --imColBlack58: #{tone-lighten($black, 58)};
  --imColBlack57: #{tone-lighten($black, 57)};
  --imColBlack56: #{tone-lighten($black, 56)};
  --imColBlack55: #{tone-lighten($black, 55)};
  --imColBlack54: #{tone-lighten($black, 54)};
  --imColBlack53: #{tone-lighten($black, 53)};
  --imColBlack52: #{tone-lighten($black, 52)};
  --imColBlack51: #{tone-lighten($black, 51)};
  --imColBlack50: #{tone-lighten($black, 50)};
  --imColBlack49: #{tone-lighten($black, 49)};
  --imColBlack48: #{tone-lighten($black, 48)};
  --imColBlack47: #{tone-lighten($black, 47)};
  --imColBlack46: #{tone-lighten($black, 46)};
  --imColBlack45: #{tone-lighten($black, 45)};
  --imColBlack44: #{tone-lighten($black, 44)};
  --imColBlack43: #{tone-lighten($black, 43)};
  --imColBlack42: #{tone-lighten($black, 42)};
  --imColBlack41: #{tone-lighten($black, 41)};
  --imColBlack40: #{tone-lighten($black, 40)};
  --imColBlack39: #{tone-lighten($black, 39)};
  --imColBlack38: #{tone-lighten($black, 38)};
  --imColBlack37: #{tone-lighten($black, 37)};
  --imColBlack36: #{tone-lighten($black, 36)};
  --imColBlack35: #{tone-lighten($black, 35)};
  --imColBlack34: #{tone-lighten($black, 34)};
  --imColBlack33: #{tone-lighten($black, 33)};
  --imColBlack32: #{tone-lighten($black, 32)};
  --imColBlack31: #{tone-lighten($black, 31)};
  --imColBlack30: #{tone-lighten($black, 30)};
  --imColBlack29: #{tone-lighten($black, 29)};
  --imColBlack28: #{tone-lighten($black, 28)};
  --imColBlack27: #{tone-lighten($black, 27)};
  --imColBlack26: #{tone-lighten($black, 26)};
  --imColBlack25: #{tone-lighten($black, 25)};
  --imColBlack24: #{tone-lighten($black, 24)};
  --imColBlack23: #{tone-lighten($black, 23)};
  --imColBlack22: #{tone-lighten($black, 22)};
  --imColBlack21: #{tone-lighten($black, 21)};
  --imColBlack20: #{tone-lighten($black, 20)};
  --imColBlack19: #{tone-lighten($black, 19)};
  --imColBlack18: #{tone-lighten($black, 18)};
  --imColBlack17: #{tone-lighten($black, 17)};
  --imColBlack16: #{tone-lighten($black, 16)};
  --imColBlack15: #{tone-lighten($black, 15)};
  --imColBlack14: #{tone-lighten($black, 14)};
  --imColBlack13: #{tone-lighten($black, 13)};
  --imColBlack12: #{tone-lighten($black, 12)};
  --imColBlack11: #{tone-lighten($black, 11)};
  --imColBlack10: #{tone-lighten($black, 10)};
  --imColBlack9: #{tone-lighten($black, 9)};
  --imColBlack8: #{tone-lighten($black, 8)};
  --imColBlack7: #{tone-lighten($black, 7)};
  --imColBlack6: #{tone-lighten($black, 6)};
  --imColBlack5: #{tone-lighten($black, 5)};
  --imColBlack4: #{tone-lighten($black, 4)};
  --imColBlack3: #{tone-lighten($black, 3)};
  --imColBlack2: #{tone-lighten($black, 2)};
  --imColBlack1: #{tone-lighten($black, 1)};
  --imColBlack0: #{tone-lighten($black, 0)};
}
